.contentbox{
    position: relative;
    padding: 8rem 0 2rem 0;
    background-color: rgb(240, 240, 240);
    font-family: 'ubuntu';
}

.content__wrapper{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.linkbox{
    width: 100%;
    text-align: center;
}

.link{
    width: 200px;
    margin: auto;
    color: #8C0C00;
    text-decoration: none;
}