.relative{
    position: relative;
    z-index: 1;
}

.bgimg-service{
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.85; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./computermand.jpg");
    min-height: 120vh;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 500ms ease-in-out;
    box-sizing: border-box;
    background-color: rgb(240, 240, 240);
}

.Service__wrapper{    
    width: 90%;
    margin: 10rem auto 2rem auto;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-auto-rows: auto;
    transition: ease 500ms;
}
